img {
  height:250px;
  width: 100%;
}
.donut {
  display: none;
}

.juicy {
  display: none;
}

.drink {
  display: none;
}
.click-sweet, .click-juicy, .click-drink {
  cursor: pointer;
}
.click-sweet:hover, .click-juicy:hover, .click-drink:hover {
  text-decoration: underline;
  color: blue;
}
